$primary_paletteKeyColor: #6275AC;
$secondary_paletteKeyColor: #71768B;
$tertiary_paletteKeyColor: #8E6D8B;
$neutral_paletteKeyColor: #76767D;
$neutral_variant_paletteKeyColor: #75767F;
$background: #121318;
$onBackground: #E3E2E9;
$surface: #121318;
$surfaceDim: #121318;
$surfaceBright: #38393F;
$surfaceContainerLowest: #0D0E13;
$surfaceContainerLow: #1A1B21;
$surfaceContainer: #1E1F25;
$surfaceContainerHigh: #292A2F;
$surfaceContainerHighest: #33343A;
$onSurface: #E3E2E9;
$surfaceVariant: #45464F;
$onSurfaceVariant: #C5C6D0;
$inverseSurface: #E3E2E9;
$inverseOnSurface: #2F3036;
$outline: #8F909A;
$outlineVariant: #45464F;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #B3C5FF;
$primary: #B3C5FF;
$onPrimary: #192E60;
$primaryContainer: #314578;
$onPrimaryContainer: #DBE1FF;
$inversePrimary: #4A5C92;
$secondary: #C1C6DD;
$onSecondary: #2A3042;
$secondaryContainer: #414659;
$onSecondaryContainer: #DDE2F9;
$tertiary: #E1BBDC;
$onTertiary: #422741;
$tertiaryContainer: #A986A5;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #DBE1FF;
$primaryFixedDim: #B3C5FF;
$onPrimaryFixed: #001849;
$onPrimaryFixedVariant: #314578;
$secondaryFixed: #DDE2F9;
$secondaryFixedDim: #C1C6DD;
$onSecondaryFixed: #151B2C;
$onSecondaryFixedVariant: #414659;
$tertiaryFixed: #FFD6F9;
$tertiaryFixedDim: #E1BBDC;
$onTertiaryFixed: #2B122B;
$onTertiaryFixedVariant: #5A3D58;
$main: $primary
